.iconCarrito {
  color: #fff;
  font-size: 30px;
}

.iconCarrito:hover {
  cursor: pointer;
  text-decoration: none;
  color: rgb(89, 89, 102);
}

.totalCart {
  font-size: 18px;
  margin: -15px 40px 0 0;
  z-index: 999;
  background-color: #fff;
  border-radius: 50%;
  padding: 0 5px;
  position: absolute;
  color: #000;
}

.hidden {
  display: none;
}
