.navBarCointainer {
    background-color: antiquewhite;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;

        a{
            text-decoration: none;
            color: black;
            align-items: center;
        }

        .navBarLogo {
            text-transform: uppercase;
            letter-spacing: 4px;
        }

            .navLinks  {
                display: flex;
                justify-content: space-between;
                


                    .navLink {
                        font-size: 20px;
                        list-style: none;
                        margin: 20px;
                    }
            }
  }
  