.header{
    display: flex;
    align-items: center;
    margin: 20px;
    justify-content: space-between; 
    background-color: rgb(145, 137, 214);

        .navLogo{
            padding-left: 30px;
        }

        .navBar{
            display: flex;
            align-items: center;
            justify-content: center; 
            padding-right: 30px;
        }

            .navBar li{
                list-style: none;
                padding: 0 20px;
                
            }

            .navBar li a{
                text-decoration: none;
                font-size: 20px;
                font-weight: 600;
                color: black;
            }

            .navBar li a:hover{
                color: blanchedalmond;
            }

}